button, input[type="submit"], input[type="reset"], input[type="text"], select, textarea {
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    /* border-style: solid; */
    border-radius: 7.5px;
}




nav { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-right: 20rem; */
  }

  #title {
      font-size: 30px;
      font-family: 'Galada', cursive;
      text-align: center;
  }


body {
   background-color: palevioletred;
   background: linear-gradient(to bottom,#ffccff 0%, #ff9999 100%);
    
    background-repeat: no-repeat;
    background-size: 2000px 1200px;
}


#delete-button {
    font-size: 20px;
    font-family: 'Galada', cursive;
    border-style: none;
}

a.button {
    font-size: 20px;
    font-family: 'Galada', cursive;
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Galada', cursive;
    font-size: 40px;
}

h2:before {
    content: "Location: ";
    font-weight: bold;
    font-style: italic;
    font-family: 'Galada', cursive;
}

h3:before {
    content: "Budget: ";
    font-weight: bold;
    font-style: italic;
    font-family: 'Galada', cursive;
}

h4:before {
    content: "What you need to bring or buy: ";
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    font-family: 'Galada', cursive;
}

#update {
    border-style: solid;
    box-shadow: blue;
  }


.images {
    height: 300px;
    width: 300px;
}

#update-button {
   font-size: 20px;
   font-weight: bold;
   font-style: italic;
   font-family: 'Galada', cursive;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;

}


