* {
    text-decoration: none;
}

body {
    background-color: #FFB6C1;
}

#title {
    font-family: 'Galada', cursive;
    text-align: center;
    font-size: 60px;
    color: #101010;
    font-weight: lighter;
}

#subtitle {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #101010;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
}

.category-titles {
    border: 0.5rem outset red;
    border-radius: 12px;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    background-color: #FB293C;
    text-decoration: none;
}

#gif {
    height: 40%;
    width: 30%;
    position: relative;
    left: 35%;
    top: 40px;
}

